/*
 * main CSS (http://watasuke.tk)
 */
h1{
	padding-left   : 10px;
	padding-bottom : 5px;
	border-left    : 10px solid rgb(45,182,79);
	border-bottom  : 2px solid silver;
}

h2{
	padding-left   : 10px;
	padding-bottom : 5px;
	border-left    : 18px solid rgb(45,182,179);
	border-radius  : 18px;
}

hr{
	color       : cadetblue;
	border-style: dashed;
}

li{
	margin:10px;
}

a{
	color:black;
}
a:visited{
	color: rgb(100, 100, 100);
}

header{
	color      : black;
	background : rgba(230,230,230, 0.7);

	position   : fixed;
	margin     : 0px;
	padding    : 5px 15px;

	top        : 0px;
	left       : 0px;
	width      : 100vw;
	height     : 40px;
}

body{
	font-family: 'M PLUS Rounded 1c', sans-serif;
	color      : white;
	background : rgb(50,50,50);

	margin-top : 70px;
}

/*------------------*/

.content{
	margin        : 50px;
	padding       : 10px 30px;

	border-radius : 20px;
	color         : black;
	background    : rgba(255, 255, 255, 0.7)
}
.content > img{
	float  : left;
	height : 140px;
	margin : 0px 20px;
}


.header-left{
	float        :left;
	line-height  : 0px;
}

.header-right{
	float        : right;
	text-align   : right;
	margin-right : 30px;
	line-height  : 40px;
}
.header-right > a{
	text-decoration  : none;
	border-radius    : 10px;
	padding          : 6px 8px;
	margin           : 0px 10px;

	color            : black;
	background-color : rgb(40,196,40);
	filter           : drop-shadow(2px 3px rgba(60,60,60, 0.5));
	transition       : background-color 0.2s;
}
.header-right > a:hover{
	background-color: rgb(70,226,70);
}