body{
	font-size: 20px;
	font-family: 'Coda','Kosugi', cursive;
	color      : black;
	background : rgb(127, 137, 194);
}

hr{
	margin:50px auto;
	width:70vw;
	color:black;
	border-style: dashed;
}

/*------------------*/

.icon_name{
	width      : 33vw;
	margin     : 15px auto;
	text-align : center;
	padding    : 30px 50px;
	border-radius: 6px;

	background : rgba(230,230,230, 0.7);
}
.icon_name > h2{
	margin:5px 10px;
}
.icon_name > p{
	margin:5px 10px;
}
.icon_name > img{
	margin : 0px 20px;
	width  : 250px;
}


.card{
	width         : 50vw;
	margin        : 15px auto;
	padding       : 50px;
	border-radius : 6px;
	text-align    : center;
	justify-content: center;
}
.skill{
	display      : flex;/*inline-block;*/
}
.skill_name{
	width        : 300px;
	text-align   : right;
	margin-right : 20px;
}

.skill_proportion{
	width        : 100px;
	text-align   : left;

	color        : rgb(206, 228, 13)
}